---
layout: doc-layout
title: Abstract - Free Ghost Blogging Theme
theme_name: Abstract
---

# Abstract Free Ghost Blogging Theme {#title}

<a href="https://electronthemes.com/item/shosi-minimal-ghost-blogging-theme/">
    <img src="/assets/images/abstract10/preview.jpg" />
</a>

When you purchase our theme. You can download Theme files from Downloads page. Navigate through your purchased items.
Click download button then you will see 2 options. Main file contain everything. Installable Ghost Theme is included
only installable Ghost theme files. Check list of what’s included when you download the main file option.

- Installable Theme File (.zip) - You can upload this file to your Ghost dashboard to install the theme.

- Documentation - Contain theme documentation file.

- Licensing Folder - Contain all licensing info files.

<a class="btn btn-secondary" target="_blank" href="http://redirect.electronthemes.com/abstract10-ghost">
    Live Preview
</a>
<a class="btn btn-primary" target="_blank" href="http://redirect.electronthemes.com/abstract10-ghost-buy">
    Download
</a>
<br><br>


# Free Theme Support {#free-support}

<div class="tip custom-block">
    <p class="custom-block-title">Attention Please</p>
    <p>All of our themes come with free support and currently we handle all support questions through Our Support <a href="https://www.facebook.com/groups/electronthemes/" target="_blank">Facebook
    Group</a> <u>[recommended for fast support]</u>.</p>
    <hr>
    <p>You can also mail us for support <a href="mailto:electronthemes@gmail.com​">electronthemes@gmail.com​</a></p>
</div>
<br>
### Support includes

- Responding to questions or problems regarding the item and its features
- Fixing bugs and reported issues
- Feature Request
- Providing updates to ensure compatibility with new software versions
### Item support does not include

- Customization and installation services. ( You can ask [paid support](https://electronthemes.com/contact/) )
- Support for third party software and plug-ins

## Installation {#installation}

Login to your ghost blog `https://yourdomain.com/ghost` then navigate to `Designs > Uploads` Themes.

Drug your downloaded theme zip file.

![](/assets/images/common/upload.png)

### Menu/Navigation Setup

Handle theme menu items from `Settings > Design` in the navigation section

![Settings Navigation](/assets/images/abstract10/settings.general.png)

## Setup blog title, header and description

**Go to:**

- General > Publication icon for Favicon
- General > Publication logo for Logo
- General > Publication cover for Cover Image

General > Title & description

![Settings Navigation](/assets/images/white/settings.general.png)

### New Page

To create new page, go to `Dashboard > Stories > New Story` Give the title for new stories and mark "Turn this post
into a page" from the settings icon

![](/assets/images/common/page.png)

### Tag

To create tag, go to `Dashboard > tags`

![](/assets/images/common/tags.png)

### Authors

To create Author, go to `Dashboard > Team`

![](/assets/images/common/team.png)

### Featured Slider {#setup}

![Featured Slider](/assets/images/abstract10/featured.png)

When you set up your post as featured, it will add automatically to featured slider. I suggest you to select such a
post as featured post which has post `featured image`.

![](/assets/images/common/make-feature-post.png)

### Tag List Page

Create a page name `Tags` or anything and select the page template `Tags` from the settings.

![](/assets/images/shosi/tags.png)

### Author List

Create a page name `Authors` or anything and select the page template `Authors` from the settings.

![](/assets/images/abstract10/set-authors-page.png)

### Setup posts to show per page

```js
"config": {
"posts_per_page": 6
}
```

Change `posts_per_page`’s value as your wish.
After changing this you need to `restart` your ghost

```
ghost restart
```