---
layout: doc-layout
title: Delas – Creative Ghost Portfolio & Blogging Theme
theme_name: Delas
---

# {{page.title}} {#title}

<a href="http://redirect.electronthemes.com/delas-buy">
    <img src="/assets/images/delas/delas-preview.jpg" />
</a>

When you purchase our theme. You can download Theme files from Downloads page. Navigate through your purchased items.
Click download button then you will see 2 options. Main file contain everything. Installable Ghost Theme is included
only installable Ghost theme files. Check list of what’s included when you download the main file option.

- Installable Theme File (.zip) - You can upload this file to your Ghost dashboard to install the theme.

- Documentation - Contain theme documentation file.

- Licensing Folder - Contain all licensing info files.

<a class="btn btn-secondary" target="_blank" href="http://redirect.electronthemes.com/delas-ghost">
    Live Preview
</a>
<a class="btn btn-primary" target="_blank" href="http://redirect.electronthemes.com/delas-buy">
    Buy Now
</a>
<br><br>


## Free Theme Support {#free-support}

<div class="tip custom-block">
    <p class="custom-block-title">Attention Please</p>
    <p>All of our themes come with free support and currently we handle all support questions through Our Support <a href="https://www.facebook.com/groups/electronthemes/" target="_blank">Facebook
    Group</a> <u>[recommended for fast support]</u>.</p>
    <hr>
    <p>You can also mail us for support <a href="mailto:electronthemes@gmail.com​">electronthemes@gmail.com​</a></p>
</div>
<br>
### Support includes

- Responding to questions or problems regarding the item and its features
- Fixing bugs and reported issues
- Feature Request
- Providing updates to ensure compatibility with new software versions
### Item support does not include

- Customization and installation services. ( You can ask [paid support](https://electronthemes.com/contact/) )
- Support for third party software and plug-ins

### Installation {#installation}

Login to your ghost blog `https://yourdomain.com/ghost` then navigate to `Designs > Uploads` Themes.

Drug your downloaded theme zip file.

![](/assets/images/common/upload.png)

### Menu/Navigation Setup

Handle theme menu items from `Settings > Design` in the navigation section

![Settings Navigation](/assets/images/delas/navigation.png)

### Setup blog General Information

**Go to:**

- General > Title and Description
- General > Publication icon for Favicon
- General > Publication logo for Logo
- General > Publication cover for Cover Image

General > Title & description

![Settings Navigation](/assets/images/delas/general.png)

## Setup pages {#setup}

### New Page

To create new page, go to `Dashboard > pages > New page` Give the title for new page

![](/assets/images/common/page.png)

### Tag

To create tag, go to `Dashboard > Tags`

![](/assets/images/common/tags.png)

### Authors

To create Author, go to `Dashboard > Staff`

![](/assets/images/common/team.png)

<br />

### Search API and Activation

Search will not work when you install the ghost theme. You need to add API for the search option activation. Follow the
instraction to make the API key.

1. Go to to `Settings > Integrations > Custom integrations > + Add custom integration`
2. Enter a name of "New Custom Integration" and create
3. Copy `Content API Key` fro API Keys
4. Go to `Settings > Code injections > Blog Header`
5. Add `script` like this to add api key. Don't change the variable name.

```
<script>
    var contentApiKey = "your api key";
</script>
```

Replace `your api key` with your api key that you created.

API Code creation:
![](/assets/images/common/integration.png)
<br>
API code injection:
![](/assets/images/common/api-key.png)
<br>
Search result:

![](/assets/images/delas/search.png)

### Featured Slider

![](/assets/images/delas/featured-slider.png)


To make the post as featured, go to the posts and make the post as featued. When you set up your post as featured, it will add automatically to featured slider. I suggest you to select such a post as featured post which has post `featured image`.

![](/assets/images/common/make-feature-post.png)

<br />
<br />

## Setup custom pages with templates
You can set custom page using page template like `tag list`, `author lists`, `portfolio`

### Tag List Page
Create a page with any name and select `Tags` custom page template from page settings
![](/assets/images/common/tag-list.png)

<br />
<br />

### Author List

Create a page name `Authors` or anything and select the page template `Authors` from the settings.

![](/assets/images/common/author-list.png)
<br />
<br />
<br />

### Portfolio List

Create a page name `Portfolio` or anything and select the page template `Portfolio` from the settings.

![](/assets/images/common/portfolio-list.png)

To show the post as portfolio in the portfolio page, provide `portfolio` tag in the post.

![](/assets/images/common/portfolio.png)


### Popular news Section 
To add posts on popular news section, add `popular` tag on the post. The post will come automatically in the popular news section.

![](/assets/images/common/popular.png)

### Setup posts to show per page

```js
"config": {
"posts_per_page": 7
}
```

Change `posts_per_page`’s value as your wish on `package.json` file in the theme file.
After changing this you need to `restart` your ghost

```bash
ghost restart
```