<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% include header-scripts.html %}
        <title>{{ page.title }} || ElectronThemes Docs</title>
    </head>
    <body class="doc-page">
        {% include navbar.html %}
        <div class="content-area pt-5">
            <div class="container-fluid">
                <div class="row">
                    {% include sidebar-toc.html %}
                    <div class="col-lg-9 col-md-8">
                        <div class="doc-content-area">
                            {{ content | markdownify }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
